@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Coiny', cursive;
}

.EWW {
    margin-top: 70px;
}

.EWW-title {
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.EWW-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 60px;
}

.EWW-text {
    padding: 30px;
    margin-left: 20px;
}

.EWW-text p {
    font-size: 18px;
}