@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Coiny', cursive;
}

.main {
    margin-top: 20px;
}

.Ad {
    font-size: 40px;
    text-align: center;
}

.item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.item-img img {
    border-radius: 10%;
    box-shadow: 0 0 10px #423434;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.name h2 {
    font-size: 24x;
    color: #DD8989;
    background: black;
    border-radius: 15px;
    text-decoration: none;
    padding: .5rem 1.5rem;
    justify-content: space-between;
}

.item-text h6 {
    margin-top: 15px;
    font-size: 18px;
    text-align: center;
}

.item-text p {
    text-align: center;
}